#NavBar
{
   
   /* background: #318fd6; */
   
   
}/*
html
{
     background: linear-gradient(#318fd6,#ccf2ff); 
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
}*/
body
{
    margin:0;
    padding:0;
   
    height: 100%;
    background: linear-gradient(#318fd6,#ccf2ff); 
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
    
    /*background: -webkit-linear-gradient(#318fd6, #ccf2ff);*/
  
}
#MainBody
{
    background-image: url(../images/Frontpage/mountains.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:scroll;
}
h5
{
    
    font-family: 'Josefin Sans', sans-serif;
}
.footer
{
    background-color: white;
    
}
#Intro
{
 
    padding: 5px;
    align-content: center;
    
   
    
}
p
{
    font-family: 'Quicksand', sans-serif;
}
.midSection
{
    font-family: 'Indie Flower', cursive;
    background-color: white;
    
}
#About
{
   
  
    
    
}
.Sand
{
    background-color: #fde9b3;
}
.hut
{
    max-width: 100%;
    height: auto;
    
}
.cartoonwave
{
    max-width: 100%;
    height: auto;
    animation: floating 4s ease-in-out infinite;
    
}
.pixelspeechbubble
{
   
    max-width: 100%;
    height: auto;
}
.cloud
{
    animation: floating 4s ease-in-out infinite;
    max-width: 100%;
    height: auto;
    
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}

/* WAVE ANIMATION */ 

.section2
{
    position: relative;
    width: 100%; 
    height: 30vh;
 
    background-color: #fde9b3;
 
   

}
.wave
{
    position: absolute;
    width: 100%;
    height: 138px;
    bottom: 0;
    left: 0;
    background: url(../images/wave.png);
    animation: animate 10s linear infinite;
    
    
    
}
.wave:before
{
    content:'';
    width: 100%;
    height: 138px;
    background: url(../images/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    animation: animate-reverse 10s linear infinite;
    
    
}
.wave:middle
{
    content:'';
    width: 100%;
    height: 138px;
    background: url(../images/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    animation-delay: -5s;
    animation: animate-reverse 20s linear infinite;
    
    
}
.wave:after
{
    content:'';
    width: 100%;
    height: 138px;
    background: url(../images/wave.png);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.6;
    animation-delay: -5s;
    animation: animate 20s linear infinite;
    
    
}

@keyframes animate
{
    0%
    {
        background-position: 0;
    }
    100%
    {
        background-position: 1360px;
    }
}
@keyframes animate-reverse
{
    0%
    {
        background-position: 1360px;
    }
    100%
    {
        background-position: 0;
    }
}

/*

End of wave section
*/
/* FONT ETC*/
.fa {
  padding: 10px; /* padding around circle for the logo */
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa-linkedin 
{
 
  color: white;
  
}

.fa-instagram 
{
  
  color: white;
  
}

.fa-laptop-code
{
   
    color: white;
}
.fa-university
{
  
    color: white;
}
.fa-globe-europe
{
    color: white;
}

#homeButton
{
   
    color: white;
   
}


#Title
{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    color: white;
}
